extends layout 

block content 

    h1 HomePage

    if user
        div.content
            
            div.sideboar
                if user.membership_status == "Unregistered"
                    a(href='/membership') Become A member
                if user.membership_status !== "Admin"
                    a(href='/admin') Become Admin
            
            div.messages
                if user.membership_status != "Unregistered"
                    a(href='/post/create')  Create Post

                each post in posts   
                    div.post
                        h2= post.title
                        p= post.text
                        if user.membership_status != "Unregistered"
                            p= "Author" + post.author.username
                            p= post.timestamp


    else
        div 
            a(href="/sign-up") Become A User