body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content{
  display:  grid;
  grid-template-columns: 200px 1fr;
}

.sidebar{
  grid-column: 1/2;
}
